body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    background: linear-gradient(to right, #0a0116, #3f45bb, #6469d2);
    padding: 10px;
    text-align: center;
    font-family: "Righteous", sans-serif;
   
}


section {
    padding: 20px;
    font-family: "Righteous", sans-serif;
    float:left;
}

footer {
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-style: outset;

}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container {
    text-align: center;
    margin-top:10px;
}